<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Tests/bootstrap.php" colors="true">
    <php>
        <env name="PgSql_host" value="127.0.0.1"/>
        <env name="PgSql_port" value="5432"/>
        <env name="PgSql_database" value="sps"/>
        <env name="PgSql_username" value="sps"/>
        <env name="PgSql_password" value="password"/>
        <env name="MySql_host" value="127.0.0.1"/>
        <env name="MySql_port" value="3306"/>
        <env name="MySql_database" value="sps"/>
        <env name="MySql_username" value="sps"/>
        <env name="MySql_password" value="password"/>
    </php>

    <testsuites>
        <testsuite name="Query Builder Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <!-- Whitelist for code coverage -->
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
